.flexWrapper {
  display: flex;

  .column {
    padding: 0px 10px;
  }

  .column2 {
    flex: 2;
  }

  .aboutMeCard {
    img {
      float: left;
      padding-right: 10px;
    }
  }

  :global(.card) {
    margin: 10px;
  }
}
