.cardHeader {
  background: rgb(211, 168, 235);
}

.cardBorder {
  border-width: 5px;
  border-color: rgb(233, 255, 121);
}

.width20 {
  width: 20%;
}

.plainBtn {
  padding: 0px 0px 4px 0px;
  margin: 0;
  border-width: 0;
}
