@import url('https://fonts.googleapis.com/css?family=Acme');

.pokemonContainer {
  padding: 10px;
  min-height: calc(100vh);
  background: radial-gradient(#156F99, #0A2E50);
  font-family: 'Acme', arial;
}
